.toggle-checkbox:checked {
    right: 0;
    border-color: #E63946;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #E63946;
}
.toggle-checkbox:disabled + .toggle-label {
    opacity: 0.7;
}
